<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sleep Better SignUp</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
  <div class="container">
    <h1 class="signup">Welcome to Sleepbetter.</h1>
    <p>Sign up for an account and explore our product variaties.</p>

    <form action="../includes/formhandler.inc.php" method="post"> <div class="form-group">
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="name">First Name:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="name">Password:</label>
        <input type="password" id="password" name="password" required style="width: 500px; height: 25px;">
      </div>
      <button onclick="window.location.href = 'homepage.php'" type="submit">Register Now</button>
    </form>
  </div>

</body>
<footer style="position:absolute;bottom:0px;left:0px;width:100%;">
  <div style="margin: 2%;">
      <a id="tags"style="color:white;"> Home </a>
      <a id="tags" style="color:white;"> About Us </a>
      <a id="tags" style="color:white;"> Our Services </a>
      <a id="tags" style="color:white;"> Contact Us </a>
      <hr style="height:2px;border-width:0;color:gray;background-color:rgb(255, 255, 255)">
      </div>
      </nav>
</footer>
</html>