<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write review</title>
    <link rel="stylesheet" href="../styles/review.css">
   
</head>
<body>
    <h2 id="review">Write a review on our sevice</h2>
    <hr>
    <form action="../includes/cmhandler.inc.php" method="post">
        <label for="fname">First name: </label><br>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="rating">Rate our service:<br> (Between 1:Poor - 5-Excellent) <br></label>
        <input type="text" id="rate" name="rate"><br><br>
        </select><br>
    <label> Provide Reason: </label><br>
    <textarea id="htmeditor" name="comment"></textarea> <script src="https://htmeditor.com/js/htmeditor.min.js"      htmeditor_textarea="htmeditor" full_screen="no" editor_height="200"     run_local="no"> </script> 
    <br><br>
    <button onclick="window.location.href = 'homepage.php'" type="submit">submit</button>
</form>
    
</body>
</html>